<div class="col-xs-12" data-ng-controller="downloadRMCController">
	<h3>{{'download.rmc.header' | translate}}</h3>
	<br>
	<div class="row">
		<div class="col-xs-8">
			<div id="statusContainer" data-ng-class="{'alert alert-success': messageStatus==2, 'alert alert-danger': messageStatus==1}" style="margin-bottom:10px;" ng-show="messageStatus==1 || messageStatus==2">
		        <button type="button" class="close" data-ng-click="dismissStatus()">x</button>
		        {{message}}
		    </div>
		</div>
	</div>
  	<div id="download-rmc">
  		<ol type="1">
			<li>{{'download.rmc.step.1' | translate}}</li>
			<li>{{'download.rmc.step.2' | translate}}</li>
			<li>{{'download.rmc.step.3' | translate}}</li>
			<li>{{'download.rmc.step.4' | translate}}</li>
		</ol>
	</div>
	<br>
	<button class="btn btn-sc" data-ng-click="downloadRMC()">{{'download.rmc.tab' | translate}}</button>
	<br><br>
	{{'download.rmc.step.5' | translate}}
</div>