<div id="settings-pane" data-ng-controller="settingsController">
	<div id="loading-background" data-ng-show="isLoading">
		<div id="pgLoading-image-with-border">
           <img src="ui/css/img/loading-icon.gif" alt="Loading..." />
        </div>
    </div>
	<div class="row service-provider-title">
		<div class="col-xs-3 setting-sidebar-toggle-div">
			<div class="file-list-icons big-screen-hide toggle-icon-div" data-ng-click="toggleSideBar()"><i class="fa fa-bars toggle-glyhicon"></i></div>	
			<div>
				<h4 class="padding-mobile">{{'configuration' | translate}}</h4>
			</div>
		</div>
		<div class="col-xs-6"></div>
		<div class="col-xs-3">
			<nav class="bs-docs-sidebar margin-top-20 fixed hidden-print small-screen-hide" id="myScrollspy">
				<a class="btn btn-default rms-settings-button" data-ng-click="doReset()">{{"RESET" | translate}}</a>
				<a class="btn btn-default rms-settings-button rms-settings-button-color" data-ng-disabled="(mailForm.$pristine && pcForm.$pristine && generalSettingForm.$pristine && clientMgmtForm.$pristine) || mailForm.$invalid ||  pcForm.$invalid || generalSettingForm.$invalid" data-ng-click="(mailForm.$pristine && pcForm.$pristine && generalSettingForm.$pristine && clientMgmtForm.$pristine) || mailForm.$invalid || generalSettingForm.$invalid || pcForm.$invalid || doSave()">{{"SAVE" | translate}}</a>
				<ul class="nav nav-stacked bs-docs-sidenav small-screen-hide" id="sidebar">
					<li><a data-ng-click="scrollTo('general_settings')">General</a></li>
					<li><a data-ng-click="scrollTo('client_mgmt')">Client Management</a></li>
					<li><a data-ng-click="scrollTo('mail_settings')">Mail Server</a></li>
					<li><a data-ng-click="scrollTo('policy_controller')">Policy Controller</a></li>
				</ul>
			</nav>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-8">
			<div id="statusContainer" data-ng-class="{'alert alert-success': messageStatus==2, 'alert alert-danger': messageStatus==1}" style="margin-bottom:0px !important;" ng-show="messageStatus==1 || messageStatus==2">
		        <button type="button" class="close" data-ng-click="dismissStatus()">x</button>
		        {{message}}
		    </div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-9 settings-root-div">
			<section id="general_settings" class="group settings-section">
				<h5>GENERAL</h5>
				<hr/>
				<form class="form-horizontal" name="generalSettingForm">
					<div class="form-group">
			            <label for="SESSION_TIMEOUT_MINS" class="control-label col-xs-5">{{"config.session_timeout.label" | translate}}</label>
			            <div class="col-xs-7">
			                <input class="input-configuration-margin" type="text" data-ng-model="configurations.SESSION_TIMEOUT_MINS" name="SESSION_TIMEOUT_MINS" id ="SESSION_TIMEOUT_MINS" data-ng-pattern="/^[0-9]{1,5}$/"/>

			                <span class="small-screen-hide" uib-tooltip="{{'config.session_timeout.info' | translate}}" tooltip-placement="bottom"><i class="glyphicon glyphicon-info-sign rms-glyphicon-info-sign"></i></span>
							<span class="mandatory" data-ng-messages="generalSettingForm.SESSION_TIMEOUT_MINS.$error" data-ng-if='generalSettingForm.SESSION_TIMEOUT_MINS.$dirty && generalSettingForm.SESSION_TIMEOUT_MINS.$invalid'>
								<span data-ng-message="pattern">{{"config.session_timeout.required" | translate}}</span>
							</span>
			            </div>
			        </div>
			        <div class="form-group">
			            <label for="ENABLE_USER_LOCATION" class="control-label col-xs-5">{{"config.enable_user_location.label" | translate}}</label>
			            <div class="col-xs-7">				           
				            <span>
								<switch class="input-configuration-margin" id="ENABLE_USER_LOCATION" data-ng-model="configurations.ENABLE_USER_LOCATION" data-ng-change="setFormDirty(generalSettingForm)"></switch>
							</span>
			            </div>
			        </div>
			        <div data-ng-if="configurations.ENABLE_USER_LOCATION==true">
				        <div class="form-group">
				            <label for="POLICY_USER_LOCATION_IDENTIFIER" class="control-label col-xs-5">
								{{"config.policy_user_location_identifier.label" | translate}}</label>
				            <div class="col-xs-7">
				                <input class="input-configuration-margin" type="text" data-ng-model="configurations.POLICY_USER_LOCATION_IDENTIFIER" name="POLICY_USER_LOCATION_IDENTIFIER" id="POLICY_USER_LOCATION_IDENTIFIER"/>
				                <span class="small-screen-hide" uib-tooltip="{{'config.policy_user_location_identifier.info' | translate}}" tooltip-placement="bottom"><i class="glyphicon glyphicon-info-sign rms-glyphicon-info-sign"></i></span>
				            </div>
				        </div>
				        <div class="form-group">
				            <label for="db_last_update" class="control-label col-xs-5">
								{{"config.db_last_update.label" | translate}}</label>
		                	<label class="col-xs-7 settings-col-xs-8-override">
								{{configurations.locationDBUpdateTime}}</label>
				        </div>
				        <div class="form-group">
				            <label for="LOCATION_UPDATE_FREQUENCY" class="control-label col-xs-5">
								{{"config.location_update_frequency.label" | translate}}</label>
						    <div class="col-xs-7 settings-col-xs-8-override">
							    <select class="settings-select-box" name="LOCATION_UPDATE_FREQUENCY" id="LOCATION_UPDATE_FREQUENCY" data-ng-model="configurations.LOCATION_UPDATE_FREQUENCY">
							      <option data-ng-repeat="option in frequency" value="{{option}}">{{option}}</option>
							    </select>
							    <span class="small-screen-hide" uib-tooltip="{{'config.location_update_frequency.info' | translate}}" tooltip-placement="bottom"> <i class="glyphicon glyphicon-info-sign rms-glyphicon-info-sign"></i></span>
							</div>
				        </div>
				    </div>
				</form>
			</section>

			<section id="client_mgmt" class="group settings-section">
				<h5>{{"config.client.management.heading" | translate}}</h5>
				<hr/>
				<form class="form-horizontal" name="clientMgmtForm">
					<div class="form-group">
			            <label for="ICENET_URL" class="control-label col-xs-5">{{"config.icenet_url.label" | translate}}</label>
			            <div class="col-xs-7">
			                <input class="input-configuration-margin" type="text" data-ng-model="configurations.ICENET_URL" name="ICENET_URL" id="ICENET_URL" required/>
			                <span class="small-screen-hide" uib-tooltip="{{'config.icenet_url.info' | translate}}" tooltip-placement="bottom"> <i class="glyphicon glyphicon-info-sign rms-glyphicon-info-sign"></i></span>
			            </div>
			        </div>
			        <div class="form-group">
			            <label for="RMC_CURRENT_VERSION" class="control-label col-xs-5">{{"config.client_version_number.label" | translate}}</label>
			            <div class="col-xs-7">
			                <input class="input-configuration-margin" type="text" data-ng-model="configurations.RMC_CURRENT_VERSION" name="RMC_CURRENT_VERSION" id="RMC_CURRENT_VERSION" required/>
			                <span class="small-screen-hide" uib-tooltip="{{'config.client_version_number.info' | translate}}" tooltip-placement="bottom"> <i class="glyphicon glyphicon-info-sign rms-glyphicon-info-sign"></i></span>
			            </div>
			        </div>
			        <div class="form-group">
			            <label for="RMC_UPDATE_URL_32BITS" class="control-label col-xs-5">{{'config.client_package_download_url_32.label' | translate}}</label>
			            <div class="col-xs-7">
			                <input class="input-configuration-margin" type="text" data-ng-model="configurations.RMC_UPDATE_URL_32BITS" name="RMC_UPDATE_URL_32BITS" id="RMC_UPDATE_URL_32BITS" required/>
			                <span class="small-screen-hide" uib-tooltip="{{'config.client_package_download_url_32.label' | translate}}" tooltip-placement="bottom"> <i class="glyphicon glyphicon-info-sign rms-glyphicon-info-sign"></i></span>
			            </div>
			        </div>
			        <div class="form-group">
			            <label for="RMC_CHECKSUM_32BITS" class="control-label col-xs-5">{{'config.rmc_checksum_32.label' | translate}}</label>
			            <div class="col-xs-7">
			                <input class="input-configuration-margin" type="text" data-ng-model="configurations.RMC_CHECKSUM_32BITS" name="RMC_CHECKSUM_32BITS" id="RMC_CHECKSUM_32BITS" required/>
			                <span class="small-screen-hide" uib-tooltip="{{'config.rmc_checksum_32.info' | translate}}" tooltip-placement="bottom"> <i class="glyphicon glyphicon-info-sign rms-glyphicon-info-sign"></i></span>
			            </div>
			        </div>
			        <div class="form-group">
			            <label for="RMC_UPDATE_URL_64BITS" class="control-label col-xs-5">{{'config.client_package_download_url_64.label' | translate}}</label>
			            <div class="col-xs-7">
			                <input class="input-configuration-margin" type="text" data-ng-model="configurations.RMC_UPDATE_URL_64BITS" name="RMC_UPDATE_URL_64BITS" id="RMC_UPDATE_URL_64BITS" required/>
			                <span class="small-screen-hide" uib-tooltip="{{'config.client_package_download_url_64.info' | translate}}" tooltip-placement="bottom"> <i class="glyphicon glyphicon-info-sign rms-glyphicon-info-sign"></i></span>
			            </div>
			        </div>
			        <div class="form-group">
			            <label for="RMC_CHECKSUM_64BITS" class="control-label col-xs-5">{{'config.rmc_checksum_64.label' | translate}}	</label>
			            <div class="col-xs-7">
			                <input class="input-configuration-margin" type="text" data-ng-model="configurations.RMC_CHECKSUM_64BITS" name="RMC_CHECKSUM_64BITS" id="RMC_CHECKSUM_64BITS" required/>
			                <span class="small-screen-hide" uib-tooltip="{{'config.rmc_checksum_64.info' | translate}}" tooltip-placement="bottom"> <i class="glyphicon glyphicon-info-sign rms-glyphicon-info-sign"></i></span>
			            </div>
			        </div>
				</form>
			</section>

			<section id="mail_settings" class="group settings-section">
				<br/>
				<h5>{{"config.mail.server.heading" | translate}}</h5>
				<hr/>
				<form class="form-horizontal" name="mailForm">
					<div class="form-group">
			            <label for="ALLOW_REGN_REQUEST" class="control-label col-xs-5">{{"config.allow_regn_request.label" | translate}}</label>
			            <div class="col-xs-7">			 
			            	<span>
								<switch class="input-configuration-margin" id="ALLOW_REGN_REQUEST" data-ng-model="configurations.ALLOW_REGN_REQUEST" data-ng-change="setFormDirty(mailForm)"></switch>
							</span>
			            </div>
			        </div>
			        <div data-ng-if="configurations.ALLOW_REGN_REQUEST==true">
				        <div class="form-group">
				            <label for="SMTP_HOST" class="control-label col-xs-5">{{"config.smtp_host.label" | translate}}<span class="mandatory"> * </span></label>
				            <div class="col-xs-7">
				                <input class="input-configuration-margin" type="text" data-ng-model="configurations.SMTP_HOST" id="SMTP_HOST" name="SMTP_HOST" data-ng-required="configurations.ALLOW_REGN_REQUEST" ng-trim="true"/>
				                <span class="small-screen-hide" uib-tooltip="{{'config.smtp_host.info' | translate}}" tooltip-placement="bottom"> <i class="glyphicon glyphicon-info-sign rms-glyphicon-info-sign"></i></span>
								<span class="mandatory" data-ng-messages="mailForm.SMTP_HOST.$error" data-ng-if='mailForm.SMTP_HOST.$invalid && mailForm.SMTP_HOST.$touched'>
									<span data-ng-message="required">{{"config.smtp_host.required" | translate}}</span>
								</span>
				            </div>
				        </div>
				        <div class="form-group">
				            <label for="SMTP_PORT" class="control-label col-xs-5">{{"config.smtp_port.label" | translate}}<span class="mandatory"> * </span></label>
				            <div class="col-xs-7">
				               <input class="input-configuration-margin" type="text" data-ng-model="configurations.SMTP_PORT" name="SMTP_PORT" id="SMTP_PORT" data-ng-required="configurations.ALLOW_REGN_REQUEST" 
				               data-ng-pattern="/^[0-9]{1,5}$/"/>
				               <span class="small-screen-hide" uib-tooltip="{{'config.smtp_port.info' | translate}}" tooltip-placement="bottom"> <i class="glyphicon glyphicon-info-sign rms-glyphicon-info-sign"></i></span>
								<span class="mandatory" data-ng-messages="mailForm.SMTP_PORT.$error" data-ng-if='mailForm.SMTP_PORT.$invalid && mailForm.SMTP_PORT.$touched'>
									<span data-ng-message="pattern">{{"config.smtp_port_valid.required" | translate}}</span>
								</span>
				            </div>
				        </div>
				        <div class="form-group">
				            <label for="SMTP_AUTH" class="control-label col-xs-5">{{"config.smtp_auth_needed.label" | translate}}<span class="mandatory"> * </span></label>
				            <div class="col-xs-7">						            
					            <span>
									<switch class="input-configuration-margin" id="SMTP_AUTH" data-ng-model="configurations.SMTP_AUTH" data-ng-change="setFormDirty(mailForm)"></switch>
								</span>
								<span class="small-screen-hide" uib-tooltip="{{'config.smtp_auth_needed.info' | translate}}" tooltip-placement="bottom"> <i class="glyphicon glyphicon-info-sign rms-glyphicon-info-sign"></i></span>
				            </div>
				        </div>
				        <div data-ng-if="configurations.SMTP_AUTH==true">
					        <div class="form-group">
					            <label for="SMTP_USER_NAME" class="control-label col-xs-5">{{"config.smtp_user_name.label" | translate}}<span class="mandatory"> * </span></label>
				                <div class="col-xs-7">
				               		<input class="input-configuration-margin" type="text" data-ng-model="configurations.SMTP_USER_NAME" name="SMTP_USER_NAME" id="SMTP_USER_NAME" data-ng-required="configurations.SMTP_AUTH"/>
				               		<span class="small-screen-hide" uib-tooltip="{{'config.smtp_user_name.info' | translate}}" tooltip-placement="bottom"> <i class="glyphicon glyphicon-info-sign rms-glyphicon-info-sign"></i></span>
								<span class="mandatory" data-ng-messages="mailForm.SMTP_USER_NAME.$error" data-ng-if='mailForm.SMTP_USER_NAME.$invalid && mailForm.SMTP_USER_NAME.$touched'>
									<span data-ng-message="required">{{"config.smtp_user_name.required" | translate}}</span>
								</span>
				            	</div>				            	
					        </div>
					        <div class="form-group">
					            <label for="SMTP_PASSWORD" class="control-label col-xs-5">{{"config.smtp_password.label" | translate}}<span class="mandatory"> * </span></label>
				                <div class="col-xs-7">
				                	<div data-ng-if="configurations.showSMTPPassword==false">
				               			<button data-ng-click="showSMTPPassword()">{{"config.smtp_change_password.label" | translate}}</button>
				            		</div>
				             		<div data-ng-if="configurations.showSMTPPassword==true">
					               		<input class="input-configuration-margin" type="password" data-ng-model="configurations.SMTP_PASSWORD" name="SMTP_PASSWORD" id="SMTP_PASSWORD" required/>
					               		<span class="small-screen-hide" uib-tooltip="{{'config.smtp_password.info' | translate}}" tooltip-placement="bottom"> <i class="glyphicon glyphicon-info-sign rms-glyphicon-info-sign"></i></span>
					               		<span class="mandatory" data-ng-messages="mailForm.SMTP_PASSWORD.$error" data-ng-if='mailForm.SMTP_PASSWORD.$invalid && mailForm.SMTP_PASSWORD.$touched'>
											<span data-ng-message="required">{{"config.smtp_password.required" | translate}}</span>
										</span>
				            		</div>
					        	</div>
					    	</div>
					    </div>
				        <div class="form-group">
				            <label for="SMTP_ENABLE_TTLS" class="control-label col-xs-5">{{"config.smtp_enable_tls.label" | translate}}<span class="mandatory"> * </span></label>
				            <div class="col-xs-7">				            	
				            	<span>
									<switch class="input-configuration-margin" id="SMTP_ENABLE_TTLS" data-ng-model="configurations.SMTP_ENABLE_TTLS" data-ng-change="setFormDirty(mailForm)"></switch>
								</span>
								<span class="small-screen-hide" uib-tooltip="{{'config.smtp_enable_tls.info' | translate}}" tooltip-placement="bottom"> <i class="glyphicon glyphicon-info-sign rms-glyphicon-info-sign"></i></span>
				            </div>
				        </div>
				        <div class="form-group">
				            <label for="REGN_EMAIL_SUBJECT" class="control-label col-xs-5">{{"config.regn_email_subject.label" | translate}}<span class="mandatory"> * </span></label>
				            <div class="col-xs-7">
					            <input class="input-configuration-margin" type="text" data-ng-model="configurations.REGN_EMAIL_SUBJECT" name="REGN_EMAIL_SUBJECT" id="REGN_EMAIL_SUBJECT" data-ng-required="configurations.ALLOW_REGN_REQUEST"/>
					             <span class="small-screen-hide" uib-tooltip="{{'config.regn_subject_email.info' | translate}}" tooltip-placement="bottom"> <i class="glyphicon glyphicon-info-sign rms-glyphicon-info-sign"></i></span>
					            <span class="mandatory" data-ng-messages="mailForm.REGN_EMAIL_SUBJECT.$error" data-ng-if='mailForm.REGN_EMAIL_SUBJECT.$invalid && mailForm.REGN_EMAIL_SUBJECT.$touched'>
									<span data-ng-message="required">{{"config.email_subject.required" | translate}}</span>
								</span>
				            </div>
				        </div>
				        <div class="form-group">
				            <label for="RMS_ADMIN_EMAILID" class="control-label col-xs-5">{{"config.rms_admin_email_id.label" | translate}}<span class="mandatory"> * </span></label>
				            <div class="col-xs-7">
				                <input class="input-configuration-margin" type="email" data-ng-model="configurations.RMS_ADMIN_EMAILID" name="RMS_ADMIN_EMAILID" id="RMS_ADMIN_EMAILID" data-ng-required="configurations.ALLOW_REGN_REQUEST"/>
				                <span class="small-screen-hide" uib-tooltip="{{'config.rms_admin_email_id.info' | translate}}" tooltip-placement="bottom"> <i class="glyphicon glyphicon-info-sign rms-glyphicon-info-sign"></i></span>
					            <span class="mandatory" data-ng-messages="mailForm.RMS_ADMIN_EMAILID.$error" data-ng-if='mailForm.RMS_ADMIN_EMAILID.$invalid && mailForm.RMS_ADMIN_EMAILID.$touched'>
									<span data-ng-message="email">{{"config.email_admin_valid.required" | translate}}</span>
								</span>
				            </div>
				        </div>
				    </div>
			    </form>
			</section>
			
			<section id="policy_controller" class="group settings-section">
				<h5>POLICY CONTROLLER</h5>
				<hr/>
				<form class="form-horizontal" name="pcForm">
			        <div class="form-group">
			            <label for="ENABLE_REMOTE_PC" class="control-label col-xs-5">{{"config.enable_remote_pc.label" | translate}}</label>
			            <div class="col-xs-7">
							<span>
								<switch class="input-configuration-margin" id="ENABLE_REMOTE_PC" data-ng-model="configurations.ENABLE_REMOTE_PC"  data-ng-change="setFormDirty(pcForm)"></switch>
							</span>
						</div>
			        </div>
			        <div data-ng-if="configurations.ENABLE_REMOTE_PC==true">
				        <div class="form-group">
				            <label for="KM_POLICY_CONTROLLER_HOSTNAME" class="control-label col-xs-5">{{"config.km_policy_controller_hostname.label" | translate}}<span class="mandatory"> * </span></label>
				            <div class="col-xs-7">
				                <input class="input-configuration-margin" type="text" data-ng-model="configurations.KM_POLICY_CONTROLLER_HOSTNAME" id="KM_POLICY_CONTROLLER_HOSTNAME" name="KM_POLICY_CONTROLLER_HOSTNAME" data-ng-required="configurations.ENABLE_REMOTE_PC"/>
				                <span class="small-screen-hide" uib-tooltip="{{'config.km_policy_controller_hostname.info' | translate}}" tooltip-placement="bottom"> <i class="glyphicon glyphicon-info-sign rms-glyphicon-info-sign"></i></span>
				                <span class="mandatory" data-ng-messages="pcForm.KM_POLICY_CONTROLLER_HOSTNAME.$error" data-ng-if='pcForm.KM_POLICY_CONTROLLER_HOSTNAME.$invalid && pcForm.KM_POLICY_CONTROLLER_HOSTNAME.$touched'>
									<span data-ng-message="required">{{"config.pc_host_name.required" | translate}}</span>
								</span>	
				            </div>
				        </div>
 						<div class="form-group">
				            <label for="KM_RMI_PORT_NUMBER" class="control-label col-xs-5">{{"config.km_rmi_port_number.label" | translate}}<span class="mandatory"> * </span></label>
				            <div class="col-xs-7">
				               <input class="input-configuration-margin" type="text" data-ng-model="configurations.KM_RMI_PORT_NUMBER" name="KM_RMI_PORT_NUMBER" id="KM_RMI_PORT_NUMBER" data-ng-required="configurations.ENABLE_REMOTE_PC" data-ng-required="configurations.ENABLE_REMOTE_PC" data-ng-pattern="/^[0-9]{1,5}$/"/>
				               <span class="small-screen-hide" uib-tooltip="{{'config.km_rmi_port_number.info' | translate}}" tooltip-placement="bottom"> <i class="glyphicon glyphicon-info-sign rms-glyphicon-info-sign"></i></span>
								<span class="mandatory" data-ng-messages="pcForm.KM_RMI_PORT_NUMBER.$error" data-ng-if='pcForm.KM_RMI_PORT_NUMBER.$invalid && pcForm.KM_RMI_PORT_NUMBER.$touched'>
									<span data-ng-message="pattern">{{"config.km_rmi_port_valid.required" | translate}}</span>
								</span>
				            </div>
				        </div>
				        <div class="form-group">
				            <label for="KM_RMI_KEYSTOREFILE" class="control-label col-xs-5">{{"config.km_rmi_keystorefile.label" | translate}}<span class="mandatory"> * </span></label>
				            <div class="col-xs-7">
				               <input class="input-configuration-margin" type="text" data-ng-model="configurations.KM_RMI_KEYSTOREFILE" name="KM_RMI_KEYSTOREFILE" id="KM_RMI_KEYSTOREFILE" data-ng-required="configurations.ENABLE_REMOTE_PC"/>
				               <span class="small-screen-hide" uib-tooltip="{{'config.km_rmi_keystorefile.info' | translate}}" tooltip-placement="bottom"> <i class="glyphicon glyphicon-info-sign rms-glyphicon-info-sign"></i></span>
				               <span class="mandatory" data-ng-messages="pcForm.KM_RMI_KEYSTOREFILE.$error" data-ng-if='pcForm.KM_RMI_KEYSTOREFILE.$invalid && pcForm.KM_RMI_KEYSTOREFILE.$touched'>
									<span data-ng-message="required">{{"config.keystore_file.required" | translate}}</span>
								</span>
				            </div>
				        </div>
				        <div class="form-group">
				            <label for="KM_RMI_KEYSTORE_PASSWORD" class="control-label col-xs-5">{{"config.km_rmi_keystorepassword.label" | translate}}<span class="mandatory"> * </span></label>
				            <div data-ng-if="configurations.showKeyStorePassword==false" class="col-xs-7">
				               <button data-ng-click="showKeyStorePassword()">{{"config.change_password.label" | translate}}</button>
				            </div>
				             <div data-ng-if="configurations.showKeyStorePassword==true" class="col-xs-7">
				               <input class="input-configuration-margin" type="password" data-ng-model="configurations.KM_RMI_KEYSTORE_PASSWORD" name="KM_RMI_KEYSTORE_PASSWORD" id="KM_RMI_KEYSTORE_PASSWORD" data-ng-required="configurations.ENABLE_REMOTE_PC"/>
				               <span class="small-screen-hide" uib-tooltip="{{'config.km_rmi_keystore_password.info' | translate}}" tooltip-placement="bottom"> <i class="glyphicon glyphicon-info-sign rms-glyphicon-info-sign"></i></span>
				               <span class="mandatory" data-ng-messages="pcForm.KM_RMI_KEYSTORE_PASSWORD.$error" data-ng-if='pcForm.KM_RMI_KEYSTORE_PASSWORD.$invalid && pcForm.KM_RMI_KEYSTORE_PASSWORD.$touched'>
									<span data-ng-message="required">{{"config.keystore_password.required" | translate}}</span>
								</span>
				            </div>
				        </div>
				        <div class="form-group">
				            <label for="KM_RMI_TRUSTSTOREFILE" class="control-label col-xs-5">{{"config.km_rmi_truststorefile.label" | translate}}<span class="mandatory"> * </span></label>
				            <div class="col-xs-7">
				               <input class="input-configuration-margin" type="text" data-ng-model="configurations.KM_RMI_TRUSTSTOREFILE" name="KM_RMI_TRUSTSTOREFILE" id="KM_RMI_TRUSTSTOREFILE" data-ng-required="configurations.ENABLE_REMOTE_PC"/>
				                <span class="small-screen-hide" uib-tooltip="{{'config.km_rmi_truststorefile.info'|translate}}" tooltip-placement="bottom"> <i class="glyphicon glyphicon-info-sign rms-glyphicon-info-sign"></i></span>
				               <span class="mandatory" data-ng-messages="pcForm.KM_RMI_TRUSTSTOREFILE.$error" data-ng-if='pcForm.KM_RMI_TRUSTSTOREFILE.$invalid && pcForm.KM_RMI_TRUSTSTOREFILE.$touched'>
									<span data-ng-message="required">{{"config.truststore_file.required" | translate}}</span>
								</span>
				            </div>
				        </div>
				        <div class="form-group">
				             <label for="KM_RMI_TRUSTSTORE_PASSWORD" class="control-label col-xs-5">{{"config.km_rmi_truststorepassword.label" | translate}}<span class="mandatory"> * </span></label>
				            <div class="col-xs-7" data-ng-if="configurations.showTrustStorePassword==false">
				               <button data-ng-click="showTrustStorePassword()">{{"config.change_password.label" | translate}}</button>
				            </div>
				            <div data-ng-if="configurations.showTrustStorePassword==true" class="col-xs-7">
				               <input class="input-configuration-margin" type="password" data-ng-model="configurations.KM_RMI_TRUSTSTORE_PASSWORD" name="KM_RMI_TRUSTSTORE_PASSWORD" id="KM_RMI_TRUSTSTORE_PASSWORD" data-ng-required="configurations.ENABLE_REMOTE_PC"/>
				               <span class="small-screen-hide" uib-tooltip="{{'config.km_rmi_truststore_password.info | translate'}}" tooltip-placement="bottom"> <i class="glyphicon glyphicon-info-sign rms-glyphicon-info-sign"></i></span>
				               <span class="mandatory" data-ng-messages="pcForm.KM_RMI_TRUSTSTORE_PASSWORD.$error" data-ng-if='pcForm.KM_RMI_TRUSTSTORE_PASSWORD.$invalid && pcForm.KM_RMI_TRUSTSTORE_PASSWORD.$touched'>
									<span data-ng-message="required">{{"config.truststore_password.required" | translate}}</span>
								</span>
				            </div>
				        </div>
				        <div class="form-group">
				            <label for="EVAL_RMI_PORT_NUMBER" class="control-label col-xs-5">{{"config.eval_rmi_port_number.label" | translate}}</label>
				            <div class="col-xs-7">
				               <input class="input-configuration-margin" type="text" data-ng-model="configurations.EVAL_RMI_PORT_NUMBER" name="EVAL_RMI_PORT_NUMBER" id ="EVAL_RMI_PORT_NUMBER" data-ng-pattern="/^[0-9]{1,5}$/" data-ng-required="configurations.ENABLE_REMOTE_PC"/>
								<span class="small-screen-hide" uib-tooltip="{{'config.eval_rmi_port_number.info' | translate}}" tooltip-placement="bottom"> <i class="glyphicon glyphicon-info-sign rms-glyphicon-info-sign"></i></span>
								<span class="mandatory" data-ng-messages="pcForm.EVAL_RMI_PORT_NUMBER.$error" data-ng-if='pcForm.EVAL_RMI_PORT_NUMBER.$dirty && pcForm.EVAL_RMI_PORT_NUMBER.$invalid && pcForm.EVAL_RMI_PORT_NUMBER.$touched'>
									<span data-ng-message="pattern">{{"config.eval_rmi_port_valid.required" | translate}}</span>
								</span>
				            </div>
				        </div>
				        <div class="form-group">
				           <div class="col-xs-5 test-conn-btn-before-div">
				            </div>
				            <div class="col-xs-7">
				            	<a class="btn btn-default" data-ng-disabled="pcForm.$invalid" data-ng-click="pcForm.$invalid || checkPCConnection()">{{"TEST CONNECTION" | translate}}</a>
				               <img data-ng-if="connectionLoading" src="ui/css/img/loading_48.gif" id="loading" width="16" height="16" hspace="16">
				            </div>
				        </div>
				    </div>
				    <div class="big-screen-hide form-group">
				    	<div class="col-xs-3"></div>
			        	<div id="settingsPage-form-submit-buttons" class="col-xs-9">
			        		<a class="btn btn-default rms-settings-button" data-ng-click="doReset()">{{"RESET" | translate}}</a>
							<a class="btn btn-default rms-settings-button-color rms-settings-button" data-ng-disabled="(mailForm.$pristine && pcForm.$pristine && generalSettingForm.$pristine) || mailForm.$invalid ||  pcForm.$invalid || generalSettingForm.$invalid" data-ng-click="(mailForm.$pristine && pcForm.$pristine && generalSettingForm.$pristine) || mailForm.$invalid || generalSettingForm.$invalid || pcForm.$invalid || doSave()">{{"SAVE" | translate}}</a>
						</div>
			        </div>
			    </form>
			    <br/>
			    <br/>
			</section>
		</div>
	</div>
</div>
