<div data-ng-controller="manageRepoController">
	<div id="loading-background" data-ng-show="isLoading">
		<div id="pgLoading-image-with-border" >
           <img src="ui/css/img/loading-icon.gif" alt="Loading..." />
        </div>
    </div>	
	<div class="manage-repository-title">
		<div class="col-xs-3 setting-sidebar-toggle-div">
		<div class="file-list-icons big-screen-hide toggle-icon-div" data-ng-click="toggleSideBar()"><i class="fa fa-bars toggle-glyhicon"></i></div>
		<div><h4 class="padding-mobile">{{"managerepo.label" | translate}}</h4></div>
		</div>
		<button class="btn btn-default manage-repository-add-btn rms-settings-button-color" data-ng-disabled="!serviceProviderPresent" ng-click="addRepository()">
			<span><b>＋</b>  {{"managerepo.add.repository" | translate}}</span>
		</button>	
	</div>
	<br/>
	<br/>
	<div data-ng-class="{'alert alert-success': isSuccess() == true, 'alert alert-danger': isSuccess() == false}" ng-show="shouldDisplay()">
        <button type="button" class="close" data-ng-click="dismissMessage()">x</button>
        {{getMessage()}}
    </div>
	<div data-ng-if="$parent.isAdmin" id="configured">
		<div  class="service-provider-subtitle">
			<h5>{{"managerepo.shared" | translate}}</h5>
		</div>
		<hr/>
		<div data-ng-if="repository.isShared" data-ng-repeat="repository in repositories" class="rms-provider center-service-provider-tile service-provider" ng-mouseenter="hovering=true" ng-mouseleave="hovering=false" id="configuredServiceProviderContent">
			<div class="overlayContainer">
				<div class="imgDiv" data-ng-class="{'dropbox-div': repository.repoType == 'DROPBOX','box-div': repository.repoType == 'BOX', 'google-div': repository.repoType == 'GOOGLE_DRIVE', 'onedrive-div': repository.repoType == 'ONE_DRIVE', 
					'sharePoint-div': repository.repoType == 'SHAREPOINT_ONPREMISE' || repository.repoType == 'SHAREPOINT_ONLINE'}">
				</div>
				<a class="rms-configured-service-provider">
					<!-- <i data-ng-class="{'fa fa-dropbox': setting.providerType == 'DROPBOX', 'fa fa-google': setting.providerType == 'GOOGLE_DRIVE'}"></i> -->
					<span>{{repository.repoName}}</span> 
					<br/>
				</a>
			</div>
			<div class="overlayDiv" data-ng-class="{'keep-hidden' : !hovering}" >
					<div class="glyphicon-div" ng-mouseenter="hoverEdit=true" ng-mouseleave="hoverEdit=false" ng-class="{'glyphicon-div-hover':hoverEdit}" ng-click="editRepository(repository)">
						<span class="glyphicon glyphicon-edit" ></span>
					</div>
					<div class="glyphicon-div" ng-mouseenter="hoverDelete=true" ng-mouseleave="hoverDelete=false" ng-class="{'glyphicon-div-hover':hoverDelete}" ng-click="deleteRepository(repository)">
						<span class="glyphicon glyphicon-trash"></span>
					</div>
			</div>
		</div>
		<div data-ng-if="!hasSharedRepository">
			<center>{{"managerepo.no.shared.repository" | translate}}</center>
		</div>
	</div>
	<br/>
	<br/>
	<div id="configured">
		<div class="service-provider-subtitle">
			<h5>{{"managerepo.personal" | translate}}</h5>
		</div>
		<hr/>
		<div data-ng-if="!repository.isShared" data-ng-repeat="repository in repositories" class="rms-provider center-service-provider-tile service-provider" ng-mouseenter="hovering=true" ng-mouseleave="hovering=false" id="configuredServiceProviderContent">
			<div class="overlayContainer">
				<div class="imgDiv" data-ng-class="{'dropbox-div': repository.repoType == 'DROPBOX', 'box-div': repository.repoType == 'BOX','google-div': repository.repoType == 'GOOGLE_DRIVE', 'onedrive-div': repository.repoType == 'ONE_DRIVE', 
					'sharePoint-div': repository.repoType == 'SHAREPOINT_ONPREMISE' || repository.repoType == 'SHAREPOINT_ONLINE'}">
				</div>				
				<a class="rms-configured-service-provider">
					<!-- <i data-ng-class="{'fa fa-dropbox': setting.providerType == 'DROPBOX', 'fa fa-google': setting.providerType == 'GOOGLE_DRIVE'}"></i> -->
					<span>{{repository.repoName}}</span> 
					<br/>
				</a>
			</div>
			<div class="overlayDiv" data-ng-class="{'keep-hidden' : !hovering}" >
					<div class="glyphicon-div" ng-mouseenter="hoverEdit=true" ng-mouseleave="hoverEdit=false" ng-class="{'glyphicon-div-hover':hoverEdit}" ng-click="editRepository(repository)">
						<span class="glyphicon glyphicon-edit" ></span>
					</div>
					<div class="glyphicon-div" ng-mouseenter="hoverDelete=true" ng-mouseleave="hoverDelete=false" ng-class="{'glyphicon-div-hover':hoverDelete}" ng-click="deleteRepository(repository)">
						<span class="glyphicon glyphicon-trash"></span>
					</div>
			</div>
		</div>
		<div data-ng-if="!hasPersonalRepository">
			<center>
				{{"managerepo.no.personal.repository" | translate}}
				{{serviceProviderPresent ? "managerepo.no_repo.configured" : "managerepo.no_repo.not_configured" | translate}}
			</center>
		</div>
	</div>
	<br/>
	<br/>
</div>