<div class="rms-repo-list-header">
	<div class = "rms-repoTitle">
		<span uib-tooltip="{{pageTitle}}" tooltip-placement="right"><b>{{pageTitleDesktopShortened | translate}}</b></span>
			<div data-ng-class="!isTreeOpen ? 'rms-file-search rms-file-search-custom' : 'rms-file-search tree'">
        		<form ng-submit="search()" >
        			<i class="fa fa-search"></i></input>
        			<input placeholder="{{'search.placeholder' | translate}}"  type="search" ng-model="$parent.searchString" >
        		</form>
    		</div> 
	</div>
	
	<div class="rms-fileList-options">
		<span class="rms-padding-treebutton-and-breadcrumbs show-only-on-desktop" data-ng-click="toggleTreeView()" data-ng-show="!showAllServices && showTree &&!searchActivated">
			<button class="btn btn-default rms-repo-btn rms-repo-btn-big"><i data-ng-class="isTreeOpen ? 'glyphicon glyphicon-indent-right' : 'glyphicon glyphicon-indent-left'"></i></button>
		</span>
 		<span class="show-only-on-desktop" ng-if="!showAllServices && !isTreeOpen && showTree && !searchActivated" >|</span>
		<span data-ng-class="showTree ? 'rms-padding-breadcrumbs-and-treebutton' : ''" ng-if="!showAllServices && !isTreeOpen &&!searchActivated">
  			<span>
  				<a class="rms-breadCrumbItem" data-ng-click="onClickFile({isFolder: true, pathId: '/', repoId: breadCrumbsContent[0].repoId})" ><b>Root</b></a>
  				<span data-ng-repeat="eachFolder in breadCrumbsContent"> 
  					<b> > </b>
	  				<a class="rms-breadCrumbItem" data-ng-click="onClickFile(eachFolder)">
	  					<b>{{eachFolder.folderName}}</b>
	  				</a>
  				</span>
  			</span>
	    </span>	    
	    <span class="btn-group btn-block rms-repo-filter-btn-grp" ng-if="showAllServices && !searchActivated" id="repo-list-in-mainView" data-uib-dropdown>	    	
            <button id="btn-append-to-single-button" type="button" class="form-control" uib-dropdown-toggle data-ng-disabled="disabled">
              <span style="float:left" >
	              <span data-ng-if="displaySelectedRepos.length === 0 || displaySelectedRepos.length === undefined">{{'all.repo' | translate}}</span>
                  <span>{{displaySelectedRepos}}</span>
              </span>
              <span class="rms-caret"><span class="caret"></span></span>
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-single-button" data-ng-click="dropdownClicked($event)">	          
	          <li role="menuitem" data-ng-click="selectAllRepos()">
              	<div class="checkbox">
				  <label><input type="checkbox" data-ng-model="filterData['all']">
				  	<span>{{'all.repo' | translate}}</span>
				  </label>
				</div>
			  </li>
			  <li class="divider"></li>
			  <div data-ng-repeat="repo in repos">	              
	              <li role="menuitem" data-ng-click="clickCheckbox()">
	              	<div class="checkbox">
					  <label><input type="checkbox" data-ng-model="filterData[repo.repoObj.repoId]">{{repo.repoObj.repoName}}</label>
					</div>
				  </li>
			  </div>       
              <li class="divider"></li>
              <li role="menuitem" >
              	<span data-ng-class="selectedReposValidationStatus ? 'pointer-click rms-dropdown-applyButton' : 'rms-repo-filter-disable rms-dropdown-applyButton' " data-propagation="true" data-ng-click="filterRepo()">Apply</span>
			  </li>
            </ul>   
        </span>
        <div data-ng-class="!isTreeOpen ? 'rms-file-sort rms-file-sort-custom' : 'rms-file-sort tree'">
       	 <label class="rms-file-sort-label">{{'sort.by' | translate}}</label>&nbsp;
        	<select 
           	 data-ng-options="sort.lookupCode as sort.description | translate for sort in sortOptions" data-ng-model="$parent.selectedSort" data-ng-change="update()"></select> 	
        </div> 
	</div>  		
</div>