/****************************** Common Viewer CSS ****************************************/

.pageWrapper{
    display: block;
    width: 100%;
    height: 100%; 
    visibility: visible;
}

.titleContainer{
	position: fixed;
	left: 0px;
	float:left;
	padding: 5px;
	padding-left: 20px;
	width: 40%;
}

#title{
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	cursor: default;
}

#toolBar{
	position: fixed;
	right: 0px;
	float: right;
	margin: 2px;
}

.toolbarContainer{
	position: fixed;
	top: 30px;
	width: 100%;
	margin: 0px;
	padding: 0px !important;
	border-bottom: 3px solid #ccc !important;
	background-color:white;
	z-index: 40000;
	min-height: 47px;
}

.toolbarContainerPlaceholder{
	position: fixed;
	top: 30px;
	width: 100%;
	margin: 0px;
	padding: 0px !important;
	border-bottom: 3px solid #F7F7FA !important;
	background-color: #F7F7FA;
	z-index: 30000;
	min-height: 47px;
}


.toolbar-tools {
	height: 42px;
}

.toolbar-button {
	vertical-align: top;
	margin: 7px;
	cursor: pointer;
	width: 30px;
	height: 30px;
	display: inline-block;
}

.disabled{
    opacity: 0.3;
    pointer-events: none;
	border: none;
}

.tool-seperator  {
	width: 1px;
	height: 80%;
	vertical-align: middle;
	background-color: #ccc;
	top: 10%;
	pointer-events: none;
	position: relative;
	display: inline-block;
}

.cc-header {
	position: fixed;
}

#error{
	z-index: 1011;
	position: absolute;
	width: 50%; 
	top: 45%;
	left:25%;
	text-align: center;
	color:#980300;
}

.close{
	opacity:0.6;
	color:black !important;
}

.close:hover{
	opacity:1.0;
}

#viewer-rms-info {
	top: 50px; 
	right: 0px; 
	width: 600px;
	margin-top: 30px;
	padding: 0px;
	position: fixed;
	z-index: 40001;
	display: none;
	overflow-y: auto;
}

#rms-print-button{
    background: url('img/viewer-print.png') no-repeat;
	background-position: center;
}
#rms-help-button{
    background: url('img/icn-help-white.png') no-repeat;
	background-position: center;
	float: right;
	margin: 0px;
}
#rms-download-button{
    background: url('img/moreactions-download.png') no-repeat;
	background-position: center;
}
#rms-rights-button{
    background: url('img/viewer-info.png') no-repeat;
	background-position: center;
}
#rms-info-button{
    background: url('img/viewer-info.png') no-repeat;
	background-position: center;
}

/* overwriting bootstrap defaults to get back original hoops look and feel  */
div, ::before, ::after {
	-webkit-box-sizing: initial;
	-moz-box-sizing: initial;
	box-sizing: content-box;	/* IE doesn't support initial */
	line-height: normal;		/* IE doesn't support initial */
}

.btn-default {
	border-color: transparent;
}

.hide-viewer-title-mobile {
    display: none;
}

/****************************** CADViewer CSS ****************************************/

#theCanvas{
	top: 80px;
}

.toolbar-home, .toolbar-home.hover{
	background: url('img/viewer-resetview.png') no-repeat;
	background-position: center;
}

.toolbar-camera, .toolbar-camera.hover {
	background: url('img/viewer-cameraview.png') no-repeat;
	background-position: center;
}

.toolbar-explode, .toolbar-explode.hover{
	background: url('img/viewer-explode.png') no-repeat;
	background-position: center;
}

.toolbar-cuttingplane, .toolbar-cuttingplane.hover{
	background: url('img/viewer-splice.png') no-repeat;
	background-position: center;
}

.toolbar-settings, .toolbar-settings.hover{
	background: url('img/viewer-settings.png') no-repeat;
	background-position: center;
}

.toolbar-walk, .toolbar-walk.hover{
	background: url('img/viewer-walkthrough.png') no-repeat;
	background-position: center;
}

.toolbar-turntable, .toolbar-turntable.hover{
	background: url('img/viewer-rotateonanaxis.png') no-repeat;
	background-position: center;
}

.toolbar-orbit, .toolbar-orbit.hover{
	background: url('img/viewer-rotate360.png') no-repeat;
	background-position: center;
}

.toolbar-wireframe, .toolbar-wireframe.hover {
	background: url('img/viewer-01-wireframemode.png') no-repeat;
	background-position: center;
}

.toolbar-shaded, .toolbar-shaded.hover{
	background: url('img/viewer-01-transparentmode.png') no-repeat;
	background-position: center;
}

.toolbar-wireframeshaded, .toolbar-wireframeshaded.hover{
	background: url('img/viewer-01-solidmode.png') no-repeat;
	background-position: center;
}

.toolbar-hidden-line, .toolbar-hidden-line.hover{
	background: url('img/viewer-01-coloredmode.png') no-repeat;
	background-position: center;
}

.toolbar-left, .toolbar-left.hover{
	background: url('img/viewer-00-leftview.png') no-repeat;
	background-position: center;
}

.toolbar-right, .toolbar-right.hover{
	background: url('img/viewer-00-rightview.png') no-repeat;
	background-position: center;
}

.toolbar-bottom, .toolbar-bottom.hover{
	background: url('img/viewer-00-bottomview.png') no-repeat;
	background-position: center;
}

.toolbar-front, .toolbar-front.hover{
	background: url('img/viewer-00-frontview.png') no-repeat;
	background-position: center;
}

.toolbar-back, .toolbar-back.hover{
	background: url('img/viewer-00-backview.png') no-repeat;
	background-position: center;
}

.toolbar-top, .toolbar-top.hover{
	background: url('img/viewer-00-topview.png') no-repeat;
	background-position: center;
}

.toolbar-iso, .toolbar-iso.hover{
	background: url('img/viewer-modelview.png') no-repeat;
	background-position: center;
}

.toolbar-measure-angle, .toolbar-measure-angle.hover{
	background: url('img/viewer-measureangle.png') no-repeat;
	background-position: center;
}

.toolbar-measure-distance, .toolbar-measure-distance.hover{
	background: url('img/viewer-measurefacetoface.png') no-repeat;
	background-position: center;
}

.toolbar-measure-edge, .toolbar-measure-edge.hover{
	background: url('img/viewer-measure.png') no-repeat;
	background-position: center;
}

.toolbar-measure-point, .toolbar-measure-point.hover{
	background: url('img/viewer-measurepointopoint.png') no-repeat;
	background-position: center;
}

.toolbar-select, .toolbar-select.hover{
	background: url('img/viewer-select.png') no-repeat;
	background-position: center;
}

/********************************* VDSViewer CSS ***************************************/

#vds-playAll{
	background: url('img/viewer-playall.png') no-repeat;
	background-position: center;
}
#vds-pauseStep{
	background: url('img/viewer-pause.png') -286px 2px no-repeat;
	background-position: center;
}
#vds-resetStep{
	background: url('img/viewer-resetview.png') no-repeat;
	background-position: center;
}
#vds-play{
	background: url('img/viewer-play.png') no-repeat;
	background-position: center;
}

#vds-toggleStepInFo{
	background: url('img/viewer-view-description.png') no-repeat;
	background-position: center;
}
#vds-toggleStepInFo.infoHide{
	background: url('img/viewer-view-description-No.png') no-repeat;
	background-position: center;
}
.sapUiShd{
	top: 100px !important;
}
.sapVeViewerStepNavigationToolbarRight{
    visibility: hidden;
}

/********************************* ExcelViewer CSS *************************************/

td{
  -webkit-print-color-adjust: exact;
}

ul.ISYS_TOC {
	top: 80px !important;
	z-index: 40000 !important;
	overflow-y: hidden !important;
}

#waterMarkRow, #waterMarkContainer{
	cursor: default;
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
}

/********************************* DocViewer CSS *************************************/

#rms-rotate-left-button{
    background:white url('img/viewer-rotateanticlockwise.png') no-repeat;
	background-position: center;
}

#rms-rotate-right-button{
    background: white url('img/viewer-rotateclockwise.png') no-repeat;
	background-position: center;
}

#rms-prev-button{
    background: white url('img/viewer-leftarrow.png') no-repeat;
	background-position: center;
}

#rms-next-button{
    background: white url('img/viewer-rightarrow.png') no-repeat;
	background-position: center;
}

#rms-fit-height-button{
    background: white url('img/viewer-fittonormalview.png') no-repeat;
	background-position: center;
}

#rms-fit-width-button{
    background: white url('img/viewer-fittopagewidth.png') no-repeat;
	background-position: center;
}

#rms-zoom-in-button{
    background: white url('img/viewer-zoomin.png') no-repeat;
	background-position: center;
}

#rms-zoom-out-button{
    background: white url('img/viewer-zoomout.png') no-repeat;
	background-position: center;
}


.imageWrapper{
    background:#F7F7FA;
	position: relative;
	top: 80px;
    overflow: auto;
    display: none;
}

#mainImg{
    margin: auto;
    display: block;
}

#pageNumContainer {
	position: fixed;
	left: 50%;
	margin: 15px;
	font-size: 16px;
}

#pageNumberDisplay{
	cursor: pointer;
}

#loading-image {
	position: absolute;
	top: 48%;
	left: 48%;
	z-index: 99;
}

#printDiv {
	position: absolute;
	margin: auto;
	visibility: hidden;
}

/*************************************************************************************/

@media print {
  #pageWrapper{
    display: none; 
  }
  
  .cc-header, .toolbarContainer, .toolbarContainerPlaceholder, ul.ISYS_TOC   {
    display: none !important; 
  }
  
  #pageWrapper.excelViewer{
	display: block !important;
  }
  
  img {
    margin: auto;
    border-style: solid;
    border-width: medium;
    visibility: visible;
    height:1048px;
  }  
  html, body {
    height: 99%;    
  }
}

@media only screen and (max-width:650px){
    ul.ISYS_TOC   {
		display: none !important; 
	}
}

@media only screen and (max-width:300px){
    #pageNumContainer   {
		display: none !important; 
	}
}

@media only screen and (min-device-width : 320px) and (max-device-width : 767px) {
    .desktop-only{
        display:none !important;
    }
    span.glyphicon {
        font-size: 30px;
    }
    i.fa {
        font-size: 30px;
    }
    .spaced{
        margin-left:5px;
        margin-right:5px;
    }
    .titleText{
        font-size:20px;
    }
   
	#waterMarkContainer{
		clip: auto !important;
	}
   
    #imageWrapper, .ISYS_BODY_DIV{
     -webkit-touch-callout: none !important;
     -webkit-user-select: none !important;
    }
}

@media only screen and (max-width:980px) {
    .hide-viewer-title-desktop {
        display: none;
    }
    .show-viewer-title-mobile {
        display: inline;
    }
}

@media only screen and (max-width:650px) {
    .dont-show-toolbar-doc {
        display: none !important;
    }
}

@media only screen and (max-width:710px) {
    .dont-show-toolbar-cad {
        display: none !important;
    }
}

@media only screen and (max-width:512px) {
    .dont-show-toolbar-vds {
        display: none !important;
    }
}